    <!-- Modal -->
      <div class="modal fade details-1" data-backdrop="static" id="details-1" role="dialog" aria-labelledby="details-1" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="content">
              <div class="modal-content">
                <div class="modal-header">
    
                  <h5 class="modal-title mx-auto" id="flower_name">{{flower.flower_name}}</h5>
                  
                </div>
                <div class="modal-body row" id="modal-body-feature">
                  <div class="col-md-6">
                    <img src=" {{flower.flower_img}}" alt="img" id="modal-img">
                 </div>
                 <div class="col-md-6" id="modal-text">
                   Description: Description of the object
                   Price (for single article): {{flower.actual_price}} &euro;
                   <form action="{{BASE}}add_cart" id="add_product_form" method="post">
                   <div class="form-group row">
                      <label class="col-md-3">Quantity:</label>&nbsp;&nbsp;&nbsp;
                      <input type="number" min="0" class="form-control col-md-2" id="quantity" name="quantity">
                  </div>
                  <input type="hidden" name="flower_id" value="{{flower.flowers_id}}">
                   
                
                </div>
              </div>
                <div class="modal-footer">
              
                  <button type="button" class="btn btn-secondary" onclick="closeModal()">Close</button>
                  <button onclick="add_to_cart(); return false" class="btn btn-primary">Add to Cart</button>
        
                </div>
              </div>
            </div>
          </div>
        </form>
    
   <!-- END OF MODAL-->

   <script>
    function add_to_cart(){

        $('#modal_errors').html("");

        var quantity = $('#quantity').val();
        var error = '';
        var data = $('#add_product_form').serialize();
        if(quantity == '' || quantity == 0){
          error += '<div class="alert alert-danger">You must choose quantity!</div>';
          $('#modal_errors').html(error);
          return;
        } else {

          $.ajax({
            url : '{{BASE}}add_cart',
            method : 'post',
            data : data,
            success: function(){
              location.reload();
            },
            error: function(){alert("Something Went Wrong!");}

          });
        }
      }
   </script>
   
