{% extends '__layout/main-admin.html' %}


{% block main %}

<h3 id="page-title">Edit Products</h3><br><br><br>
<form action="{{BASE}}admin/products/edit/{{flower.flowers_id}}" method="POST" enctype="multipart/form-data">
    <div class="col-md-8 mx-auto">
        <div class="form-group row">
            <label class="col-md-4">Flower Name</label>
            <input type="text" name="flower_name" class="form-control col-md-5" value="{{flower.flower_name}}">
        </div>
        <div class="form-group row">
            <label class="col-md-4">List Price</label>
            <input type="text" name="list_price" class="form-control col-md-5" value="{{flower.old_price}}">
        </div>
        <div class="form-group row">
            <label class="col-md-4">Actual Price</label>
            <input type="text" name="actual_price" class="form-control col-md-5" value="{{flower.actual_price}}">
        </div>

        <div class="form-group row">
                <label class="col-md-4">Availability</label>
                <input type="text" name="availability" class="form-control col-md-5" value="{{flower.availability}}">
        </div>

        <div class="form-group row">
            <label class="col-md-4">Flower Image</label>
            <input type="file" name="image">
        </div>
        <img src="{{flower.flower_img}}" id="edit-img" alt="img">


        <div class="form-group col-md-9">
                <br>
            <button type="submit" class="btn btn-outline-secondary float-right" style="margin-left: 5px;">Edit</button>
            <a class="btn btn-outline-secondary float-right" href="{{BASE}}admin/products">Go back</a>

        </div>
    </div>
</form>


{% endblock %}